<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>토왕성폭포</title>
    <!--공통 폰트 및 css-->
    <link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">


    <!-- 실서버 -->
    <!-- 
<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/common.css">
<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/totalweb.css">
<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/towangseong.co.kr/about/init.css"> 
-->


    <!-- local -->

    <link rel="stylesheet" href="http://dh715.ebiz.test/static/css/tourist/reset.css">
    <link rel="stylesheet" href="http://dh715.ebiz.test/static/css/tourist/common.css">
    <link rel="stylesheet" href="http://dh715.ebiz.test/static/css/tourist/totalweb.css">
    <link rel="stylesheet" href="http://dh715.ebiz.test/static/css/tourist/towangseong.co.kr/about/init.css">
    <!-- <link rel="stylesheet" href="../../static/css/intro.css"> -->





    <!--js-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>


    <!-- 실서버 -->
    <script src="http://static.sampobeach.co.kr/js/common.js"></script>
    <script src="http://static.sampobeach.co.kr/js/init.js"></script>


    <!-- local -->
    <!-- 
<script src="http://dh715.ebiz.test/static/css/tourist/js/common.js"></script>
<script src="http://dh715.ebiz.test/static/css/tourist/js/init.js"></script>
<script src="http://dh715.ebiz.test/static/css/tourist/js/totalweb.js"></script> 
-->


    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->

</head>

<body>
    <div class="wrapper">
        <!--헤더부분-->


        <header class="header">
            <div class="wrap container">
                <h1 class="logo"><a href="../index.html"><img src="http://dh715.ebiz.test/img/tourist/sokcho/towangseong.co.kr/common/logo.png" alt="토왕성폭포 로고"> <span class="skip">토왕성폭포</span></a></h1>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="../about/index.html">토왕성폭포 소개</a></li>
                        <li class="item-2"><a href="../event/index.html">축제 이벤트</a></li>
                        <li class="item-4"><a href="../view/index.html">속초 8경</a></li>
                        <li class="item-3"><a href="../waycome/index.html">오시는 길</a></li>
                        <li class="item-4"><a href="../tourist/index.html">주변관광</a></li>
                        <li class="item-5"><a href="../board/memory_list.html">추억게시판</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <div class="contents">

            <section class="wrap subVisual">
                <div class="mainTxt container">
                    <p class="p-1">속초의 숨어있는 비경</p>
                    <h2><span class="f-bd">토왕성폭포</span> 소개</h2>
                    <p class="p-2"><span class="f-bdr txt-upper">TOWANGSEONG FALLS</span></p>
                </div>
            </section>
            <section class="wrap cmStyle about">
                <div class="container">
                    <div class="area area-1">
                        <h3 class="h3-tit">
                            <span class="row-1">구름을 뚫은 물기둥 폭포! <span class="sampo"><span class="f-bd">TOWANGSEONG FALLS</span>
                                </span></span>
                            <span class="row-2"><span class="f-bd">토왕성폭포</span>로 초대합니다.</span>
                        </h3>
                        <figure class="full"><img src="http://dh715.ebiz.test/img/tourist/sokcho/towangseong.co.kr/about/beach_big.jpg" alt="토왕성폭포"></figure>
                        <p class='showing'>비룡폭포 왼쪽 석벽을 오르면 탁 트인 골짜기 속에 떨어지는 거대한 물줄기를 만납니다. 이것이 토왕성폭포입니다. 일명 선광폭포라고도 불리며, 설악산을 대표하는 3대 폭포 중의 하나입니다.</p>
                        <p class='showing'>설악산 신흥사 동남쪽으로 석가봉, 문주봉, 보현봉, 문필봉, 노적봉 등이 병풍처럼 둘러싼 바위벽들 한가운데로 3단을 이루며 떨어지는 연폭으로 그 모습이 멀리서 보면, 마치 선녀가 흰 비단을 바위 위에 널어놓은 듯 아름답습니다. 겨울철 이 폭포의 빙벽은 산악인들의 빙벽훈련장으로 사랑받습니다.</p>

                        <figure class="half">
                            <img src="http://dh715.ebiz.test/img/tourist/sokcho/towangseong.co.kr/about/beach_small_1.jpg" alt="토왕성폭포">
                            <img src="http://dh715.ebiz.test/img/tourist/sokcho/towangseong.co.kr/about/beach_small_2.jpg" alt="토왕성폭포">
                        </figure>
                    </div>
                </div>
            </section>
        </div>


        <footer class="footer">
            <div class="wrap container">
                <figure class="logo"><img src="http://dh715.ebiz.test/img/tourist/sokcho/towangseong.co.kr/common/logo.png" alt="토왕성폭포로고"></figure>
                <address>
                    본 사이트는 토왕성폭포를 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
                    오시는 길 : 강원 속초시 설악동 산 41 토왕성폭포<br>
                    이메일 : help@towangseong.co.kr<br>
                    <small>copyright @ towangseong.co.kr All right reserved</small>
                </address>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="../about/index.html">토왕성폭포 소개</a></li>
                        <li class="item-2"><a href="../event/index.html">축제 이벤트</a></li>
                        <li class="item-2"><a href="../view/index.html">속초 8경</a></li>
                        <li class="item-3"><a href="../waycome/index.html">오시는 길</a></li>
                        <li class="item-4"><a href="../tourist/index.html">주변관광</a></li>
                        <li class="item-5"><a href="../board/memory_list.html">추억게시판</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

    </div>

</body>

</html>